.partners {
    padding: 40px 0;
}

.partners__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.partners__item {
    background-color: #ebf4ff;
    padding: 15px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    min-height: 120px;
}

.partners__item-title {
    font-size: 1.2em;
    font-weight: 600;
}

.partners__item-link {
    color: #a7a7aa;
    font-size: 1.2em;
    font-weight: 600;
    align-self: end;
}

.partners__item:hover {
    box-shadow: 4px 4px 38px -4px rgb(211 224 239 / 84%);
}